<div class="eidtCategorylist h-100 fullTask flex-grow-1 bg-primary p-2 borderMargin gap-2 d-flex flex-column  fw-bold">
    <h4 class="text-center m-4">Edit Category List</h4>

    <div class="categoryList flex-grow-1 w-75 mx-auto overflow-y-auto">
        <div *ngFor="let category of categoryList"
            class="subTask taskItem d-flex align-items-center borderMargin m-1 p-1">
            <input type="checkbox" name="task" disabled style="transform: scale(1.3);" class="mx-2 myCheckbox"
                id="{{category.id}}">
            <div class="labelWrap p-0 fw-bold m-0 taskText text-dark flex-grow-1">
                <label for="{{category.id}}"> {{category.name}}</label>
            </div>
            <div (click)="editCategory(category)" class="dltIconButton buttonHover ms-2"><i
                    class="bi bi-pencil-square text-dark"></i>
            </div>
            <div (click)="askToDelete(category)" class="dltIconButton buttonHover ms-2"><i
                    class="bi bi-trash3-fill text-dark"></i>
            </div>
        </div>

    </div>

    <form *ngIf="categoryToEdit" #f="ngForm" (ngSubmit)="submitEdit(f)" class="w-75 mx-auto">
        <div class="hidden">
            <label for="name">Selected Category Name</label>
            <input id="name" name="name" required [(ngModel)]="categoryToEdit.name" type="text"
                class="form-control text fw-bold mb-3" placeholder="You Must Set A Category Name">



            <button type="submit" class="float-end btn-primary  defaultButton mb-1 px-3">Save
                Update</button>
            <button (click)="goBack()" type="button" class="float-end btn-primary  defaultButton mb-1 me-2  px-3">
                Go Back</button>

        </div>
    </form>
    <form *ngIf="!categoryToEdit" #f="ngForm" (ngSubmit)="submitEdit(f)" class="w-75 mx-auto">

        <button (click)="goBack()" type="button" class="float-end btn-primary  defaultButton mb-1 me-2  px-3">
            Go Back</button>
    </form>

</div>