<app-warning>
    <p class="msg">This is custom message</p>
</app-warning>




<div class="appNameAndMain">
    <div class="topName mb-1">
        <i (click)="showSideBar()" class="hideOnDesktop bi bi-list text-light h3 p-2"></i>
        <h5 class="h5 d-inline-block">Spring Task Tracker</h5>
        <div class="nameAndImg d-inline-block float-end">
            <h5 class="h6 d-inline-block me-1">Shehan Maleesha</h5>
            <img src="../../propic.PNG" class="prof-img d-inline-block" alt="propic">
        </div>
    </div>
</div>

<!-- INSIDE THE APP -->
<div class="tasksAndMsgs bg-light flex-grow-1 d-flex flex-column borderMargin">
    <div id="SideBarAndFullTask" class="SideBarAndFullTask flex-grow-1 d-flex gap-3 p-3 align-items-stretch">

        <!-- SIDE BAR -->
        <app-task-filter-and-list class="z-1"></app-task-filter-and-list>


        <!-- @@=========================================================== -->

        <!-- FULL TASK -->
        <!-- <app-view-full-task></app-view-full-task> -->
        <!-- <app-edit-task></app-edit-task> -->
        <!-- <app-add-new-task class="flex-grow-1"></app-add-new-task> -->
        <!-- <app-edit-sub-task class="flex-grow-1"></app-edit-sub-task> -->
        <!-- <app-add-category class="flex-grow-1"> </app-add-category> -->
        <!-- <app-edit-category-list class="flex-grow-1"></app-edit-category-list> -->
        <div class="flex-grow-1 h-100">
            <router-outlet class="m-0 p-0"></router-outlet>
        </div>

    </div>
</div>
<div class="msgs my-2">
    <app-notification></app-notification>
</div>