<div
    class="AddNewCategory h-100 addNewTask fullTask flex-grow-1 bg-primary p-2 borderMargin gap-2 d-flex flex-column  fw-bold">
    <h4 class="text-center m-4">Add New Category</h4>
    <form #f="ngForm" (submit)="addCategory(f)" class="w-75 mx-auto">
        <label for="categoryName">Category Name</label>
        <input id="name" name="name" ngModel type="text" class="form-control text fw-bold mb-3"
            placeholder="Add Category Name">


        <button type="submit" (click)="gotoFullTask()" class="float-end btn-primary  defaultButton ms-3 mb-5"
            style="width: 100px;">Cancel</button>
        <button type="submit" class="float-end btn-primary  defaultButton mb-5 ms-3" style="width: 100px;">Add</button>

        <a class="fw-light text-primary" title="You can Edit or delete existing categories here" href="#">Edit
            Category List
        </a>
    </form>

</div>